# Telegram Bot & Pyrogram Kimlikleri
TG_BOT_TOKEN="123456789:ABCDefGhIjKlMnOpQrStUvWxYz"
TG_API_ID="1234567"
TG_API_HASH="0123456789abcdef0123456789abcdef"

# Hedef Kanal / Grup ID (Supergroup veya Forum grubu)
TG_UPLOADER_CHAT_ID="-1001909587016"

# Proxy Çıkışı (WARP / Xray)
TG_UPLOADER_PROXY="http://127.0.0.1:4000"

# Darkbox Kök Dizini (Eklentilere erişim için)
DARKBOX_ROOT="/root/Darkbox"
